---
interface Props {
  videoId: string;
  title: string;
}
const { videoId, title } = Astro.props;
---
<div class="video-container">
  <iframe 
    src={`https://www.youtube.com/embed/${videoId}`} 
    title={title}
    allowfullscreen
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
  </iframe>
</div>

<style>
  .video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #000;
  }
  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>